<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
		
        <title>Restaurant Review - Sentiment Analyser</title>
      
</head>

<body>
<!--<table>
     <tr>
         <th>Difference</th>
     </tr>
     {% for item in p %}
     <tr>
        <td>{{item}}</td>
     </tr>
     {% endfor %}
</table>-->

<table>
     <tr>
         <th>Test shop</th>
     </tr>
     {% for item in p %}
     <tr>
        <td>{{item}}</td>
     </tr>
     {% endfor %}
</table>

</body>
</html>

